<!--<html>
  <body>
  <h1>{{title}}</h1>
 <hr>
  <h3>contador = {{contador}}
    <hr><button (click) =incrementarContador() class="Btn">Sumar {{cantidad}}</button>
    <hr><button (click) =decrementarContador() class="Btn">Restar {{cantidad}}</button>
    <hr><button (click) =resetearContador() class="shadow__btn">Resetear Contador</button>
  </h3>
  <app-heroes-heroe></app-heroes-heroe>
  <app-ejercicio-42></app-ejercicio-42>

</body>
</html>-->
<app-contador></app-contador>
<app-lista></app-lista>
<app-ejercicio-43-listado-centros></app-ejercicio-43-listado-centros>
